<div class="w-[1200px] m-auto flex justify-between my-[24px]">
    <ul class="w-[16%]">
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400] ">Về công ty</h2>
        </li>
        <li><a to="/">Giới thiệu về công ty</a></li>
        <li><a to="/">Tuyển dụng</a></li>
        <li><a to="/">Góc báo chí</a></li>
        <li><a to="/">Chương trình đại lí</a></li>
        <li><a to="/">Chính sách bảo mật</a></li>
        <li><a to="/">Chính sách đổi trả</a></li>
    </ul>
    <ul class="w-[16%]">
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400]">Trợ giúp</h2>
        </li>
        <li><a to="/">Quy định sử dụng</a></li>
        <li><a to="/">Hướng dẫn mua hàng</a></li>
        <li><a to="/">Phương thức thanh toán</a></li>
        <li><a to="/">Phương thức vận chuyển</a></li>
        <li><a to="/">Các câu hỏi thường gặp</a></li>
        <li><a to="/">Ứng dụng đọc ebook</a></li>
    </ul>
    <ul class="w-[16%]">
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400]">Tin tức sách</h2>
        </li>
        <li><a to="/">Tin tức</a></li>
        <li><a to="/">Chân dung</a></li>
        <li><a to="/">Điểm sách</a></li>
        <li><a to="/">Phê bình</a></li>
    </ul>
    <ul class="w-[16%]">
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400]">Chấp nhận thanh toán</h2>
        </li>
        <div class="flex flex-wrap justify-between">
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/visa.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/master_card.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/jcb.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/atm.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/cod.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/payoo.jpg" alt="">
            </div>
        </div>
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400]">Thanh toán an toàn</h2>
        </li>
        <div class="flex flex-wrap justify-between">
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/verify_visa.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/mastercard_securecode.jpg" alt="">
            </div>
            <div class="w-[33%]">
                <img src="https://www.vinabook.com/public/assets/img/onepay.jpg" alt="">
            </div>
        </div>
    </ul>
    <ul class="w-[16%]">
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400]">ĐỐI TÁC VẬN CHUYỂN</h2>
        </li>
        <div>
            <img src="https://www.vinabook.com/public/assets/img/logovnb.png    " alt="">
            <img src="https://www.vinabook.com/public/assets/img/vn-post.jpg" alt="">
            <img src="https://www.vinabook.com/public/assets/img/dhl.jpg" alt="">
        </div>
    </ul>
    <ul>
        <li>
            <h2 class="my-[16px] text-[18px] text-black font-[400]">ĐỐI TÁC BÁN HÀNG</h2>
        </li>
        <div>
            <img src="https://www.vinabook.com/public/assets/img/lazada.jpg" alt="">
            <img src="https://www.vinabook.com/public/assets/img/shopee.jpg" alt="">
            <img src="https://www.vinabook.com/public/assets/img/amazon.jpg" alt="">
        </div>
    </ul>
</div>