<div class=" bg-[#057a45]">
    <div class="w-[1200px] m-auto flex items-center justify-between h-[50px] text-white">
        <div class="flex items-center justify-between ">
            <span>
                <fa-icon class="text-[24px]" [icon]="barsIcon" />
            </span>
            <span class="mx-[42px] text-[20px] font-[300]">Danh mục sách</span>
            <span>
                <fa-icon class="text-[24px]" [icon]="arrowDownIcon" />
            </span>
        </div>
        <div class="flex items-center justify-between">

            <div class="flex items-center justify-between">
                <fa-icon class="text-[20px]" [icon]="phoneIcon" />
                <p class="ml-[6px] font-[300]">
                    Hotline: <span class="font-[600] text-[16px]">0123456789</span>
                </p>
            </div>
            <span class="px-[18px] text-[24px]">|</span>

            <div class="flex items-center justify-between">
                <fa-icon class="text-[20px]" [icon]="commentIcon" />
                <span class="ml-[6px] font-[300]">
                    Hỗ trợ trực tuyến
                </span>
            </div>
            <span class="px-[18px] text-[24px]">|</span>
            <a routerLink="/myOrder" class="flex items-center justify-between">
                <fa-icon class="text-[20px]" [icon]="cartIcon" />
                <span class="ml-[6px] font-[300]">
                    Đơn hàng của bạn
                </span>
            </a>

        </div>
    </div>
</div>
