<div class="bg-[#0a6f3c] py-[12px] mt-[50px]">
    <div class="w-[1200px] m-auto flex items-center">
        <div class="mr-[32px]">
            <h2 class="text-white text-[20px]">ĐĂNG KÝ NHẬN EMAIL</h2>
            <p class="text-white text-[14px]">Đăng ký nhận thông tin sách mới, sách bán</p>
        </div>
        <form action="">
            <input class="mr-[12px] h-[38px] pl-[12px] text-[#333] rounded" type="text" placeholder="Tên của bạn">
            <input class="mr-[12px] h-[38px] pl-[12px] text-[#333] rounded" type="text" placeholder="Nhập email của bạn">
            <select class="mr-[12px] h-[38px] px-[12px] text-[#333] rounded">
                <option value="">Thể loại yêu thích </option>
            </select>
            <button class="h-[38px] px-[24px] text-[#057a45] bg-white rounded">ĐĂNG KÝ NGAY</button>
        </form>
    </div>
   
</div>
