<div class="bg-[#f3f3f3] px-[200px]">
    <ul class="flex items-center h-[34px]">
        <li class="mr-[50px]">
            <span class="text-[#66645c] mr-[12px]">
                <fa-icon [icon]="truckIcon"></fa-icon>
            </span>
            <span class="text-[#66645c] font-[300] text-[15px]">Miễn phí giao
                hàng</span>
        </li>
        <li>
            <span class="text-[#66645c] mr-[12px]   ">
                <fa-icon [icon]="bookIcon"></fa-icon>
            </span>
            <span class="text-[#66645c] font-[300] text-[15px]">80.000 tựa sách</span>
        </li>

    </ul>
</div>
